<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="navbar">
    <div class="logo-area">
        <h2>🛍️ Evan Store</h2>
        <div class="dropdown" style="margin-top: 10px;">
            <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                ☰   Menu
            </button>
            <ul class="dropdown-menu">
                {% if request.endpoint != 'tienda' %}
                <li><a class="dropdown-item" href="{{ url_for('tienda') }}">🏠 Home</a></li>
                {% endif %}
                
                {% if request.endpoint != 'dashboard' %}
                <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">👥 Perfil</a></li>
                {% endif %}
                {% if current_user.es_admin %}
                {% if request.endpoint != 'dashboard_etl' %}
                <li><a class="dropdown-item" href="{{ url_for('dashboard_etl') }}">📊 Dashboard ETL</a></li>
                {% endif %}
                 {% if request.endpoint != 'gestionar_productos' %}
                <li><a class="dropdown-item" href="{{ url_for('gestionar_productos') }}">📦 Inventario</a></li>
                {% endif %}
                {% endif %}
                
                {% if request.endpoint != 'mis_ordenes' %}
                <li><a class="dropdown-item" href="{{ url_for('mis_ordenes') }}">📋 Mis Órdenes</a></li>
                {% endif %}
                
                <li><a class="dropdown-item" href="{{ url_for('ver_carrito') }}" id="carritoLink">
                    🛒 Carrito <span id="carritoCount" class="badge bg-danger">0</span>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="user-area">
                <span>Bienvenido {{ current_user.nombre }}</span>
                {% if current_user.es_admin %}
                {% if request.endpoint == 'dashboard_etl' %}
        <button onclick="ejecutarETL()" class="btn-etl">🔄 Actualizar ETL</button>
        <a href="{{ url_for('exportar_excel') }}" class="btn btn-success">📊 Exportar a Excel</a> 
        {% endif %}
        {% endif %}
        <a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm">🚪 Cerrar Sesión</a>
    </div>
</div>